<app-header title="inicio"></app-header>


<div>
  <ion-title>Productos recomendados</ion-title>
  <ion-list>
    <ion-card>
    <ion-item *ngFor="let product of products" [routerLink]="['/producto/']+product['id']" routerLinkActive="router-link-active" >
      <ion-avatar slot="start">
        <img src="{{product.img}}" alt=""></ion-avatar>
      <ion-label>{{product.name}}   </ion-label>
      <ion-card-content>
      
      
      <ion-label slot="end"><ion-icon name="cart-outline"></ion-icon>${{product.price}}</ion-label>
    </ion-card-content>
    </ion-item>

  
  </ion-card>
  </ion-list>
</div>

<ion-content>



  

</ion-content>

<ion-content>
  <app-footer></app-footer>
</ion-content>

